<div class="foodsupplment">
  <div class="data">
  <H1>Hello world!</h1>
    <span><a href="<%= foodsupplements_path(foodsupplement.id) %>">
    <%=foodsupplement.name%> <%= foodsupplement.price %>
    <%= foodsupplement.category %> <%=foodsupplement.rating %> <%= foodsupplement.articlenum %></a></span>
  </div>
</div>
