<%= form_with(model: foodsupplement) do |form| %>
  <% if foodsupplement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foodsupplement.errors.count, "error") %> prohibited this foodsupplement from being saved:</h2>

      <ul>
        <% foodsupplement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :articlenum %>
    <%= form.text_field :articlenum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
